*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

#navbar{
 display: flex;
 justify-content: space-between;
 padding: 10px;
 background-color: #caa7dc;
}
#searchbar{
    display:flex;
    margin: 5px;
}
#searchbtn{
    background-color: #db88d9;
    cursor: pointer;
}
#logo{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:35px;
    font-weight: 300;
    letter-spacing: 2px;
}
#initmsg
{   padding-top: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: aliceblue;
}
/*RECIPES STYLING*/
body{
background-color: #521f55;
}
.container
{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap:15px;
    margin: 15px;
    place-items: center;
}
.reciepeDiv
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    height: auto;
    background:white;
    border-radius:12px;
    padding:15px;
    width:100%;
    overflow:hidden;
    text-align:center;
}
.reciepeDiv img {
    width: 250px;
    height: 180px;
    object-fit: cover;
}
.viewRecipe
{
    color: rgb(23, 9, 32);
    font-weight:700;
    background-color:#db88d9;
    margin:10px auto;
    padding: 15px;
    border: none;
    border-radius: 10px;
}
.popup{
    display: none;
}
@media (max-width: 768px) { /*mobile*/
    #navbar
    {
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .container
    {
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap:10px;
    margin: 15px;
    }
}
